[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
marshmallow = "==3.0.0rc6"
flask-sqlalchemy = "*"
flask-restful = "*"
marshmallow-sqlalchemy = "*"
black = "*"
requests = "*"
flask-jwt-extended = "*"
flask-marshmallow = "*"
psycopg2 = "*"
sendgrid = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
